//
// Blocks
// -------------------------------------------------- //



.btn-icon {
  display inline-block
  vertical-align -3px
  background-repeat no-repeat
  background-position 0 0
  position relative
  width 28px
  height 28px
  margin -5px -15px -5px 5px

  .btn-lg &,
  .btn-hg & {
    margin -5px -10px -5px 10px
    vertical-align middle
  }
  .btn-hg & {
    width 37px
    height 37px
  }

  &.icon-rarrow {
    &.btn-icon-default {

    }
    &.btn-icon-primary {
      background-image url(../img/btn-icon-rarrow-primary.png)
    }
  }

  &.icon-check {
    &.btn-icon-default {
      background-image url(../img/btn-icon-check-default.png)

      .btn-hg & {
        background-image url(../img/btn-icon-check-default-hg.png)
      }
    }
    &.btn-icon-primary {

    }
  }
}

.inline-icon {
  display inline-block
  vertical-align middle
  background-repeat no-repeat
  background-position 0 0

  &.icon-rarrow {
    width 13px
    height 22px
    background-image url(../img/inline-icon-rarrow.png)
  }
  &.icon-rarrow-lg {
    width 21px
    height 38px
    background-image url(../img/inline-icon-rarrow-lg.png)
  }
  &.icon-rarrow-sm {
    width 10px
    height 14px
    background-image url(../img/inline-icon-rarrow-sm.png)

    &-default {
      width 10px
      height 14px
      background-image url(../img/inline-icon-rarrow-sm-default.png)
      margin-left 5px
    }
  }
  &.icon-barrow-sm {
    width 14px
    height 9px
    background-image url(../img/inline-icon-barrow-sm.png)
  }
}

.main-nav-icon {
  display block
  position relative
  top -8px
  width 74px
  height 74px
  background-repeat no-repeat
  background-position 0 0

  &.preparations {
    background-image url(../img/main-nav-icon-01.png)
  }
  &.where-to-buy {
    background-image url(../img/main-nav-icon-02.png)
  }
  &.price {
    background-image url(../img/main-nav-icon-03.png)
  }
  &.questions {
    background-image url(../img/main-nav-icon-04.png)
  }
}

.preparations-nav-icon {
  display block
  margin 0 auto 5px
  background-repeat no-repeat
  background-position 0 0

  &.antiviral {
    width 74px
    height 74px
    background-image url(../img/preparates-cats-nav-icon-01.png)
    margin-bottom 18px

    @media (min-width: screen-md-min) {
      margin-bottom 0
    }
  }
  &.accompanying-therapy {
    width 52px
    height 75px
    background-image url(../img/preparates-cats-nav-icon-02.png)
    margin-bottom 18px

    @media (min-width: screen-md-min) {
      margin-bottom 3px
    }
  }
  &.autoimmune {
    width 61px
    height 61px
    background-image url(../img/preparates-cats-nav-icon-03.png)
    margin-top 18px

    @media (min-width: screen-md-min) {
      margin-bottom 12px
    }
  }
  &.hematological {
    width 40px
    height 61px
    background-image url(../img/preparates-cats-nav-icon-04.png)
    margin-top 18px

    @media (min-width: screen-md-min) {
      margin-bottom 12px
    }
  }
}
