//
// Select2
// -------------------------------------------------- //


.select2-container {
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;

  .select2-selection--single {
    cursor: pointer;
    display: block;
    height: 47px;
    user-select: none;

    @media (min-width: screen-md-min) {
      height: 36px;
    }

    &:focus {
      outline: 0;
    }

    .select2-selection__rendered {
      display: block;
      padding-left: 18px;
      padding-right: 52px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.8rem;
      line-height: 45px;
      color #757575

      @media (min-width: screen-md-min) {
        font-size: 1.3rem;
        line-height: 35px;
        padding-left: 9px;
        padding-right: 29px;
      }
    }
  }
  .select2-search--inline {
    float: left;

    .select2-search__field {
      border: none;
      font-size: 100%;
      margin-top: 5px;

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
  }
}

.select2-dropdown {
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
  font-size: 1.3rem;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px 9px;
  user-select: none;
  color #999

  &:last-child {
    border-radius: 0 0 2px 2px;
  }
}
.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open {
  .select2-dropdown {
    left: 0;
  }
  .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.select2-search--dropdown {
  display: none;
  padding: 4px;

  .select2-search__field {
    padding: 4px;
    width: 100%;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
  &.select2-search--hide {
    display: none;
  }
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.select2-container--default {
  .select2-selection--single {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    .select2-selection__rendered {
      color input-color
    }
    .select2-selection__clear {
      cursor: pointer;
      float: right;
      font-weight: bold;
    }
    .select2-selection__placeholder {
      color: #999;
    }
    .select2-selection__arrow {
      height: 45px;
      width: 36px;
      position: absolute;
      top: 0;
      right: 3px;


      @media (min-width: screen-md-min) {
        height: 34px;
        width: 23px;

        b {
          right: 2px;
          width 23px
          height 23px
          margin-top: -11px;
          background-image url(../img/select-arrow.png)
        }
      }

      b {
        display block
        right: 8px;
        top: 50%;
        background url(../img/select-arrow-lg.png) no-repeat 0 0;
        position: absolute;
        margin-top: -18px;
        width 36px
        height 36px
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: brand-primary;
    color: white;
  }
  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }
  .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
  }
  .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
  }
  .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
  }
  .select2-results__option[role=group] {
    padding: 0;
  }
  .select2-results__option[aria-disabled=true] {
    color: #999;
  }
  .select2-results__option[aria-selected=true] {
    background-color: #fff;
    color #999
  }

  .select2-results__option {
    .select2-results__option {
      padding-left: 1em;

      .select2-results__group {
        padding-left: 0;
      }

      .select2-results__option {
        margin-left: -1em;
        padding-left: 2em;

        .select2-results__option {
          margin-left: -2em;
          padding-left: 3em;
        }
      }
    }
  }

  &.select2-container--disabled {
    .select2-selection--single {
      background-color: #eee;
      cursor: default;

      .select2-selection__clear {
        display: none;
      }
      .select2-selection__arrow b {
        border-color: transparent transparent #888 transparent;
        border-width: 0 4px 5px 4px;
      }
      .select2-selection__choice__remove {
        display: none;
      }
    }
  }
  &.select2-container--open {

    &.select2-container--above .select2-selection--single {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &.select2-container--below .select2-selection--single {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
