//
//    Project stylus root file
//

// Core variables and mixins
@import "variables";
@import "mixins";

// Core CSS
@import "core/scaffolding";
@import "core/type";
@import "core/buttons";
@import "core/forms";

// Components
@import "modules/component-animations";
@import "modules/breadcrumbs";
@import "modules/pagination";
@import "modules/modals";

// Components w/ JavaScript
@import "modules/select2";
@import "modules/flickity";
@import "modules/fancybox";

// Layouts
@import "modules/layouts";

// Blocks
@import "modules/blocks";
@import "modules/icons";

// Utility classes
@import "modules/responsive-utilities";
@import "modules/utilities";
